NUL
*.o
._*
*/gcc/debug_*
*/gcc/release_*
tags


applets/sama5d3x/libraries/libboard_sama5d3x-ek/lib/
applets/sama5d3x/libraries/libchip_sama5d3x/lib/
applets/sama5d3x/libraries/libnandflash/lib/
applets/sama5d3x/libraries/libnorflash/lib/
applets/sama5d3x/libraries/liboweeprom/lib/
applets/sama5d3x/libraries/libpmecc/lib/
applets/sama5d3x/libraries/libsdmmc/lib/
applets/sama5d3x/libraries/libspiflash/lib/
applets/sama5d3x/sam-ba_applets/dataflash/bin/
applets/sama5d3x/sam-ba_applets/eeprom/bin/
applets/sama5d3x/sam-ba_applets/extram/bin/
applets/sama5d3x/sam-ba_applets/lowlevelinit/bin/
applets/sama5d3x/sam-ba_applets/nandflash/bin/
applets/sama5d3x/sam-ba_applets/norflash/bin/
applets/sama5d3x/sam-ba_applets/otp/bin/
applets/sama5d3x/sam-ba_applets/oweeprom/bin/
applets/sama5d3x/sam-ba_applets/sdmmc/bin/
applets/sama5d3x/sam-ba_applets/serialflash/bin/
applets/wb50nbt/libraries/libboard_sama5d3x-ek/lib/
applets/wb50nbt/libraries/libchip_sama5d3x/lib/
applets/wb50nbt/libraries/libnandflash/lib/
applets/wb50nbt/libraries/libnorflash/lib/
applets/wb50nbt/libraries/liboweeprom/lib/
applets/wb50nbt/libraries/libpmecc/lib/
applets/wb50nbt/libraries/libsdmmc/lib/
applets/wb50nbt/libraries/libspiflash/lib/
applets/wb50nbt/sam-ba_applets/dataflash/bin/
applets/wb50nbt/sam-ba_applets/eeprom/bin/
applets/wb50nbt/sam-ba_applets/extram/bin/
applets/wb50nbt/sam-ba_applets/lowlevelinit/bin/
applets/wb50nbt/sam-ba_applets/nandflash/bin/
applets/wb50nbt/sam-ba_applets/norflash/bin/
applets/wb50nbt/sam-ba_applets/otp/bin/
applets/wb50nbt/sam-ba_applets/oweeprom/bin/
applets/wb50nbt/sam-ba_applets/sdmmc/bin/
applets/wb50nbt/sam-ba_applets/serialflash/bin/
